<ion-view view-title="Postres">
  <ion-content class="padding">  
    <div class="list">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <a class="item item-thumbnail-left" href="#" ng-repeat="data in datas" ng-switch on="data.Image">
          <img src="img/ionic.png" ng-switch-when="null">
          <img ng-src="{{ data.Image}}" ng-switch-default>
          <h2>{{data.Name}}</h2>
          <p>Lps. {{data.Price}}</p>
        </a>

  </ion-content>
</ion-view>