<ion-view view-title="Details">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar" ng-switch on="product.Image">
        <img src="img/ionic.png" ng-switch-when="null">
        <img ng-src="{{ product.Image}}" ng-switch-default>
        <h2>{{ product.Name }}</h2>
        <p>Lps. {{product.Price}}</p>
      </div>

      <div class="item item-body" ng-switch on="product.Image">
        <img style="width: 100%; height: auto;" src="img/ionic.png" ng-switch-when="null">
        <img style="width: 100%; height: auto;" ng-src="{{ product.Image}}" ng-switch-default>
        <br/>
        <p>

          {{ product.Description }}
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Buy
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
