<ion-view view-title="Bebidas">
  <ion-content class="padding">  
    <div class="list">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-001</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-002</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-003</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-004</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-005</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-006</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-007</h2>
        <p>Lps.100</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Bebida-008</h2>
        <p>Lps.100</p>
      </a>

  </ion-content>
</ion-view>